Repository ShayneIsMagic/zero-barriers-growth-accelerator-2.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: detect-secrets scan --all-files
        language: system
        pass_filenames: false
        always_run: true
      - id: gitleaks
        name: gitleaks
        entry: gitleaks detect --source . --verbose
        language: system
        pass_filenames: false
        always_run: true
      - id: eslint
        name: eslint
        entry: npm run lint:fix
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$
      - id: prettier
        name: prettier
        entry: npm run format
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx|json|md)$
      - id: type-check
        name: type-check
        entry: npm run type-check
        language: system
        pass_filenames: false
      - id: test
        name: test
        entry: npm run test
        language: system
        pass_filenames: false

feat: Create /api/scrape-multi-page with comprehensive SEO data collection
  src/app/api/scrape-multi-page/route.ts
  src/components/analysis/MultiPageScrapingPage.tsx
Due: eslint, prettier

security: Remove exposed .env.local.backup, block all env backup patterns in .gitignore
  .gitignore
Due: none

feat: Add Markdown fallback prompts when AI analysis fails (API key suspended/quota exceeded)
  src/components/analysis/B2BElementsPage.tsx
  src/components/analysis/B2CElementsPage.tsx
  src/components/analysis/CliftonStrengthsPage.tsx
  src/components/analysis/GoldenCirclePage.tsx
  src/components/analysis/MarkdownFallbackViewer.tsx
  src/lib/framework-fallback-generator.ts
Due: eslint, prettier

feat: Add Claude API fallback for all analysis routes when Gemini is suspended
  .env.example
  README.md
  src/app/api/analyze/clifton-strengths-standalone/route.ts
  src/app/api/analyze/compare/route.ts
  src/app/api/analyze/elements-value-b2b-standalone/route.ts
  src/app/api/analyze/elements-value-b2c-standalone/route.ts
  src/app/api/analyze/golden-circle-standalone/route.ts
  src/lib/claude-analysis.ts
Due: eslint, prettier

refactor: Centralize AI provider — Claude primary, Gemini fallback
  src/app/api/analyze/clifton-strengths-standalone/route.ts
  src/app/api/analyze/compare/route.ts
  src/app/api/analyze/elements-value-b2b-standalone/route.ts
  src/app/api/analyze/elements-value-b2c-standalone/route.ts
  src/app/api/analyze/golden-circle-standalone/route.ts
  src/lib/claude-analysis.ts
  src/lib/free-ai-analysis.ts
Due: eslint, prettier

feat: chunk framework analyses by category for thorough evaluation
  src/app/api/analyze/clifton-strengths-standalone/route.ts
  src/app/api/analyze/elements-value-b2b-standalone/route.ts
  src/app/api/analyze/elements-value-b2c-standalone/route.ts
  src/app/api/analyze/golden-circle-standalone/route.ts
  src/lib/chunked-framework-analysis.ts
Due: eslint, prettier

feat: add Brand Archetypes standalone analysis route (chunked)
  src/app/api/analyze/brand-archetypes-standalone/route.ts
Due: eslint, prettier

security: sanitize all error messages to strip API keys before client
  src/app/api/analyze/brand-archetypes-standalone/route.ts
  src/app/api/analyze/clifton-strengths-standalone/route.ts
  src/app/api/analyze/compare/route.ts
  src/app/api/analyze/elements-value-b2b-standalone/route.ts
  src/app/api/analyze/elements-value-b2c-standalone/route.ts
  src/app/api/analyze/golden-circle-standalone/route.ts
  src/components/analysis/B2BElementsPage.tsx
  src/components/analysis/B2CElementsPage.tsx
  src/components/analysis/CliftonStrengthsPage.tsx
  src/components/analysis/GoldenCirclePage.tsx
  src/hooks/useChunkedAnalysis.ts
  src/lib/chunked-framework-analysis.ts
  src/lib/free-ai-analysis.ts
  src/lib/streaming-analysis.ts
Due: eslint, prettier

feat: standardize Ollama-first assessments and add Brand Archetypes page
  src/app/api/analyze/revenue-trends/route.ts
  src/app/api/scrape-multi-page/route.ts
  src/app/dashboard/brand-archetypes-standalone/page.tsx
  src/app/dashboard/page.tsx
  src/components/analysis/BrandArchetypesPage.tsx
  src/components/analysis/RevenueTrendsPage.tsx
  src/lib/chunked-framework-analysis.ts
  src/lib/free-ai-analysis.ts
  src/lib/ollama-analysis.ts
Due: eslint, prettier

fix: resolve Vercel build type blockers in executive report flow
  src/app/api/generate-executive-report/route.ts
  src/lib/executive-report-generator.ts
  src/lib/free-ai-analysis.ts
Due: eslint, prettier

refactor: enforce real AI contracts and isolate Google tools Ollama analysis
  src/app/api/analyze/compare/route.ts
  src/app/api/analyze/google-tools-ollama/route.ts
  src/components/analysis/AutomatedGoogleToolsPage.tsx
  src/components/analysis/GoogleToolsPage.tsx
  src/lib/ai-engines/enhanced-analysis.service.ts
  src/lib/ai-engines/prompt-testing.service.ts
  src/lib/free-ai-analysis.ts
  src/lib/services/actionable-report.service.ts
  src/lib/services/seo-actionable-analysis.service.ts
  src/lib/services/simple-actionable-report.service.ts
  src/lib/services/simple-clifton-strengths.service.ts
  vitest.config.mts
Due: eslint, prettier

feat: standardize puppeteer evidence protocol and automate Ollama lifecycle
  package.json
  scripts/dev-with-ollama.js
  src/app/api/analyze/brand-archetypes-standalone/route.ts
  src/app/api/analyze/clifton-strengths-standalone/route.ts
  src/app/api/analyze/elements-value-b2b-standalone/route.ts
  src/app/api/analyze/elements-value-b2c-standalone/route.ts
  src/app/api/analyze/golden-circle-standalone/route.ts
  src/app/api/analyze/google-tools-ollama/route.ts
  src/app/api/analyze/revenue-trends/route.ts
  src/app/api/health/route.ts
  src/lib/framework-evidence-protocol.ts
  src/lib/free-ai-analysis.ts
  src/lib/ollama-analysis.ts
  src/lib/server/ollama-lifecycle.ts
Due: eslint, prettier

fix: harden Ollama live deployment behavior and diagnostics
  docs/OLLAMA_LIVE_DEPLOYMENT.md
  src/app/api/analyze/compare/route.ts
  src/app/api/health/route.ts
  src/lib/ollama-analysis.ts
Due: eslint, prettier

feat: standardize canonical framework payload pipeline
  src/components/analysis/B2CElementsPage.tsx
  src/hooks/useChunkedAnalysis.ts
  src/lib/framework-analysis-entrypoint.ts
  src/lib/free-ai-analysis.ts
  src/lib/snapshot-storage.ts
  src/types/canonical-framework-payload.ts
Due: eslint, prettier

fix: improve Ollama endpoint reachability and fallback key support
  .env.example
  src/app/api/health/route.ts
  src/lib/claude-analysis.ts
  src/lib/ollama-analysis.ts
Due: eslint, prettier

docs: record main merge state in ROLLBACK_REFERENCE
  docs/ROLLBACK_REFERENCE.md
Due: prettier

docs: mark origin/main pushed at 32b101b in ROLLBACK_REFERENCE
  docs/ROLLBACK_REFERENCE.md
Due: prettier

docs: set production rollback HEAD to 43a29a1
  docs/ROLLBACK_REFERENCE.md
Due: prettier

Disable login by default so workspace and APIs are open without Supabase auth.
  .env.example
  AGENTS-app.md
  API_DOCUMENTATION.md
  next.config.js
  package.json
  prisma/migrations/20250610120000_baseline/migration.sql
  prisma/migrations/migration_lock.toml
  src/app/api/analyze/brand-archetypes-standalone/route.ts
  src/app/api/analyze/clifton-strengths-standalone/route.ts
  src/app/api/analyze/elements-value-b2b-standalone/route.ts
  src/app/api/analyze/elements-value-b2c-standalone/route.ts
  src/app/api/analyze/golden-circle-standalone/route.ts
  src/app/api/analyze/revenue-trends/route.ts
  src/app/auth/signin/page.tsx
  src/app/auth/signup/page.tsx
  src/app/profile/page.tsx
  src/components/layout/header.tsx
  src/components/ui/mobile-nav.tsx
  src/lib/security-config.ts
  src/lib/server/analysis-persistence.ts
  src/lib/services/structured-storage.service.ts
  src/lib/streaming-analysis.ts
  src/test/security/security-config.test.ts
  src/test/server/analysis-persistence.test.ts
Due: eslint, prettier

Complete refactor phases B–E and D with Flask runner integration.
  AGENTS-app.md
  API_DOCUMENTATION.md
  backend/scripts/archived_synonym_parsers.py
  backend/scripts/build_framework_catalog.py
  docs/ROLLBACK_REFERENCE.md
  package.json
  src/components/ReportViewer.tsx
  src/components/analysis/B2BElementsPage.tsx
  src/components/analysis/B2CElementsPage.tsx
  src/components/analysis/BrandArchetypeResultsPanel.tsx
  src/components/analysis/BrandArchetypesPage.tsx
  src/components/analysis/CliftonStrengthsPage.tsx
  src/components/analysis/CliftonThemeResultsPanel.tsx
  src/components/analysis/FrameworkAnalysisRunner.tsx
  src/components/analysis/FrameworkAnalyzeActions.tsx
  src/components/analysis/GoldenCirclePage.tsx
  src/components/analysis/GoldenCircleResultsPanel.tsx
  src/components/analysis/RevenueTrendsPage.tsx
  src/components/analysis/RevenueTrendsResultsPanel.tsx
  src/components/shared/ReportsViewer.tsx
  src/hooks/useChunkedAnalysis.ts
  src/hooks/useFrameworkPageAnalysis.ts
  src/lib/framework/framework-page-run-params.ts
  src/lib/framework/reports-index.ts
  src/lib/services/flask-evaluation.service.ts
  src/lib/services/unified-localforage-storage.service.ts
  src/test/framework/canonical-framework-payload.test.ts
  src/test/framework/framework-page-run-params.test.ts
  src/test/framework/reports-index.test.ts
  src/types/canonical-framework-payload.ts
Due: eslint, prettier

Document refactor branch checkpoint e91ffa5 in rollback reference.
  docs/ROLLBACK_REFERENCE.md
Due: prettier

Update rollback reference after refactor merge to main.
  docs/ROLLBACK_REFERENCE.md
Due: prettier

Fix Vercel scraping APIs and route collection through compare endpoints.
  .env.example
  src/app/api/content/collect/route.ts
  src/app/api/scrape-multi-page/route.ts
  src/hooks/useAnalysisData.ts
  src/hooks/useContentCollection.ts
  src/instrumentation.ts
  src/lib/content-collection/endpoints.ts
  src/lib/content-collection/resolve-collected-content.ts
  src/test/content-collection/resolve-collected-content.test.ts
Due: eslint, prettier

Enable deterministic Flask evaluation in UI with server proxy and production defaults.
  .env.example
  src/app/api/evaluate/route.ts
  src/app/api/system/status/route.ts
  src/components/analysis/B2BElementsPage.tsx
  src/components/analysis/B2CElementsPage.tsx
  src/components/analysis/FrameworkAnalysisRunner.tsx
  src/components/analysis/FrameworkAnalyzeActions.tsx
  src/components/shared/ReportStructuredPreview.tsx
  src/components/shared/ReportsViewer.tsx
  src/hooks/useFlaskEvaluationAvailability.ts
  src/hooks/useFrameworkAnalysisEngine.ts
  src/lib/framework/framework-results-adapter.ts
  src/lib/server/analysis-engine-config.ts
  src/lib/server/flask-config.ts
  src/lib/server/flask-health.ts
  src/lib/services/flask-evaluation.service.ts
  src/test/framework/framework-results-adapter.test.ts
Due: eslint, prettier

Add Collect→Evaluate workflow and environment-aware scoring across framework pages.
  .env.example
  src/app/api/system/status/route.ts
  src/components/analysis/AssessmentWorkflowSteps.tsx
  src/components/analysis/B2BElementsPage.tsx
  src/components/analysis/B2CElementsPage.tsx
  src/components/analysis/BrandArchetypesPage.tsx
  src/components/analysis/CliftonStrengthsPage.tsx
  src/components/analysis/FrameworkAnalysisRunner.tsx
  src/components/analysis/FrameworkAnalyzeActions.tsx
  src/components/analysis/FrameworkCollectEvaluatePanel.tsx
  src/components/analysis/GoldenCirclePage.tsx
  src/components/analysis/RevenueTrendsPage.tsx
  src/hooks/useContentCollection.ts
  src/hooks/useFlaskEvaluationAvailability.ts
  src/hooks/useFrameworkAnalysisEngine.ts
  src/hooks/useFrameworkCollectEvaluateWorkflow.ts
  src/hooks/useFrameworkPageAnalysis.ts
  src/lib/framework/collection-meta.ts
  src/lib/framework/framework-page-run-params.ts
  src/lib/free-ai-analysis.ts
  src/lib/scoring/scoring-env.ts
  src/lib/server/analysis-engine-config.ts
  src/lib/server/flask-config.ts
  src/lib/server/scoring-availability.ts
  src/test/framework/framework-page-views.test.tsx
Due: eslint, prettier
