Repository ShayneIsMagic/zero-barriers-growth-accelerator-2.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: detect-secrets scan --all-files
        language: system
        pass_filenames: false
        always_run: true
      - id: gitleaks
        name: gitleaks
        entry: gitleaks detect --source . --verbose
        language: system
        pass_filenames: false
        always_run: true
      - id: eslint
        name: eslint
        entry: npm run lint:fix
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$
      - id: prettier
        name: prettier
        entry: npm run format
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx|json|md)$
      - id: type-check
        name: type-check
        entry: npm run type-check
        language: system
        pass_filenames: false
      - id: test
        name: test
        entry: npm run test
        language: system
        pass_filenames: false

docs: add cleanup plan and essential files list for three-page architecture
  docs/CLEANUP_PLAN.md
  docs/ESSENTIAL_FILES_LIST.md
Due: prettier

docs: add framework coverage audit
  docs/FRAMEWORK_COVERAGE_AUDIT.md
Due: prettier

docs: add comprehensive framework map referencing existing complete documentation
  docs/FRAMEWORK_COMPREHENSIVE_MAP.md
Due: prettier

docs: correct B2B structure - Purpose is a subcategory
  docs/FRAMEWORK_COMPREHENSIVE_MAP.md
Due: prettier

docs: correct B2B count - Purpose is subcategory not element, Inspirational has 3 elements (40 total)
  docs/FRAMEWORK_COMPREHENSIVE_MAP.md
Due: prettier

docs: fix B2B count - Functional has 7 elements (Performance=5), Inspirational has 3 (Purpose is subcategory), total = 40
  docs/FRAMEWORK_COMPREHENSIVE_MAP.md
Due: prettier

docs: remove redundant note - structure is self-explanatory
  docs/FRAMEWORK_COMPREHENSIVE_MAP.md
Due: prettier

docs: add Framework Comprehensive Map to README as essential documentation reference
  README.md
Due: prettier

docs: update README taxonomy section to match Framework Comprehensive Map structure and counts
  README.md
Due: prettier

docs: update framework coverage docs and README taxonomy to match correct counts from Comprehensive Map
  docs/FRAMEWORK_COVERAGE_AUDIT.md
Due: prettier

docs: update .cursorrules framework structure to match README and Comprehensive Map
  .cursorrules
Due: none

docs: add framework coverage audit and codebase organization docs
  docs/CODEBASE_AUDIT.md
  docs/FRAMEWORK_COVERAGE_AUDIT.md
  docs/USEFUL_CODE_TO_KEEP.md
Due: prettier

docs: add comprehensive list of files to eliminate based on cleanup plan
  docs/FILES_TO_ELIMINATE.md
Due: prettier

chore: add dependency check and archive scripts for safe cleanup
  docs/CLEANUP_EXECUTION_GUIDE.md
  scripts/archive-files.sh
  scripts/check-dependencies.sh
Due: prettier

docs: add Content Comparison flow documentation with Puppeteer integration and required env vars
  docs/CONTENT_COMPARISON_FLOW.md
Due: prettier

docs: add documentation cleanup guide and eject script
  docs/DOCS_TO_KEEP_OR_EJECT.md
  scripts/eject-docs.sh
  scripts/final-cleanup.sh
Due: prettier

docs: add strategy for cleaning archived documentation
  docs/ARCHIVED_DOCS_STRATEGY.md
Due: prettier

docs: update README documentation section to reflect archived docs strategy
  README.md
Due: prettier

feat: Enhanced PuppeteerComprehensiveCollector with SEO/GA4 collection and auto-storage
  src/app/api/analyze/compare/route.ts
  src/lib/puppeteer-comprehensive-collector.ts
  src/lib/services/content-storage.service.ts
Due: eslint, prettier

feat: Add Local Forage client-side storage for Puppeteer content
  package-lock.json
  package.json
  src/components/analysis/ContentComparisonPage.tsx
  src/lib/services/client-content-storage.service.ts
Due: eslint, prettier

Fix React Server Components CVE vulnerabilities
  package-lock.json
  package.json
Due: prettier

fix: Update dependencies to resolve Vercel build security vulnerabilities
  docs/PRISMA_VS_LOCALFORAGE.md
  package-lock.json
  package.json
Due: prettier

Fix: Remove invalid chromium reference in Chrome path loop
  src/lib/universal-puppeteer-scraper.ts
Due: eslint, prettier

Fix: Replace browser location API with URL string check for Node.js compatibility
  src/lib/puppeteer-comprehensive-collector.ts
Due: eslint, prettier

fix: Restore working content comparison page from d0dfe75
  src/app/api/analyze/compare/route.ts
  src/components/analysis/ContentComparisonPage.tsx
  src/lib/universal-puppeteer-scraper.ts
Due: eslint, prettier

Revert "fix: Restore working content comparison page from d0dfe75"
  src/app/api/analyze/compare/route.ts
  src/components/analysis/ContentComparisonPage.tsx
  src/lib/universal-puppeteer-scraper.ts
Due: eslint, prettier

fix: Clean build - Puppeteer serverless fix, zero ESLint warnings, footer 404s resolved
  package-lock.json
  package.json
  src/components/analysis/ContentComparisonPage.tsx
  src/components/analysis/ElementUsageTable.tsx
  src/components/analysis/FrameworkAnalysisRunner.tsx
  src/components/analysis/PageComparisonView.tsx
  src/components/analysis/PageMetadataDisplay.tsx
  src/components/layout/footer.tsx
  src/components/shared/CollectedContentViewer.tsx
  src/components/shared/DataLoader.tsx
  src/components/shared/DataSaveSelector.tsx
  src/components/shared/FileUploadInput.tsx
  src/components/shared/ReportsViewer.tsx
  src/hooks/useAnalysisData.ts
  src/lib/ai-engines/framework-integration.service.ts
  src/lib/ai-engines/prompt-testing.service.ts
  src/lib/analysis-client.ts
  src/lib/cohesive-report-builder.ts
  src/lib/content-analyzer.ts
  src/lib/controlled-analysis.ts
  src/lib/enhanced-controlled-analysis.ts
  src/lib/executive-report-generator.ts
  src/lib/free-ai-analysis.ts
  src/lib/lighthouse-service.ts
  src/lib/logger.ts
  src/lib/markdown-report-generator.ts
  src/lib/production-content-extractor.ts
  src/lib/progress-manager.ts
  src/lib/puppeteer-comprehensive-collector.ts
  src/lib/real-google-trends-service.ts
  src/lib/safe-access.ts
  src/lib/services/comprehensive-report.service.ts
  src/lib/services/google-tools-analysis.service.ts
  src/lib/services/puppeteer-google-tools.service.ts
  src/lib/services/real-google-tools-scraper.service.ts
  src/lib/universal-puppeteer-scraper.ts
Due: eslint, prettier

fix: Patch axios DoS vulnerability (GHSA-43fc-jf86-j433)
  package-lock.json
Due: prettier

fix: Use LocalForage → ProductionContentExtractor fallback, no Puppeteer on Vercel
  src/app/api/analyze/compare/route.ts
  src/app/api/scrape/content/route.ts
Due: eslint, prettier
